* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    background-color: #dbdbf7;
    color: #333;
    text-align: center;
}
 
/* Estilos do header */
header {
    background: #ffffff;
    color: #9747ff;
    padding: 15px 0;
    text-align: center;
}
 
nav h1 {
    margin-bottom: 10px;
}
 
nav ul {
    list-style: none;
    padding: 0;
}
 
nav ul li {
    display: inline;
    margin: 0 15px;
}
 
nav a {
    color: #ff914d;
    text-decoration: none;
    font-weight: bold;
}
 
/* Estilos da seção principal */
main {
    padding: 20px;
}
 
h2 {
    text-align: center;
    margin: 20px 0;
}
 
/* Estilos do container de produtos */
.produtos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}
 
.produto {
    background: rgb(245, 169, 196);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
 
.produto:hover {
    transform: scale(1.05);
}
 
/* Estilos das imagens dos produtos */
.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
 
/* Estilos do botão */
button {
    background-color: #a72828;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
 
button:hover {
    background-color: #882121;
}
 
/* Estilos do footer */
footer {
    background: #7a1994;
    color: rgb(245, 169, 196);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}